.App {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.cor {
  margin-top: 1rem;
  height: 80%;
  width: 80%;
  border-radius: 2rem;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-left: 10%;
}

.adivinha {
  height: 100%;
  width: 100%;
}

.botaoarea {
  margin-left: 10%;
}

.botao {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1rem;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
  background-color: rgb(200, 200, 200);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.botao:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.errou {
  color: white;
  background-color: red;
  text-transform: uppercase;
  width: fit-content;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(255, 0, 0, 0.7);
  margin-top: 1em;
}
